body {
	background-image: url("background.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 130vw auto;
}

@media screen and (max-aspect-ratio: 3/2) {
	body {
		background-size: auto 100vh;
	}
}

img {
	width: 160px;
	padding: 20px;
	border-radius: 40px;
}

.s1 {
	position: absolute;
	top: 0px;
	left: 0px;
}

.s2 {
	position: absolute;
	top: 0px;
	left: 450px;
}

.s3 {
	position: absolute;
	top: 0px;
	left: 900px;
}

.s4 {
	position: absolute;
	top: 0px;
	right: 0px;
}


.s5 {
	position: absolute;
	top: 250px;
	left: 0px;
}

.s6 {
	position: absolute;
	top: 250px;
	right: 0px;
}

.s7 {
	position: absolute;
	top: 500px;
	left: 0px;
}

.s8 {
	position: absolute;
	top: 500px;
	left: 450px;
}

.s9 {
	position: absolute;
	top: 500px;
	left: 900px;
}

.s10 {
	position: absolute;
	top: 500px;
	right: 0px;
}

.p1 {
	position: absolute;
	top: 250px;
	left: 450px;
	background-color: white;
	width: 650px;
	height: 200px;
	box-sizing: border-box;
	word-break: keep-all;
	line-height: 1.7;
	padding: 20px;
	border-radius: 10px;
}

li {
	list-style: none;
}

@media screen and (max-width: 600px) {
	img {
		width: 100px;
	}

	.s1 {
		position: absolute;
		top: 0px;
		left: 0px;
	}

	.s2 {
		position: absolute;
		top: 150px;
		left: 0px;
	}

	.s3 {
		position: absolute;
		top: 300px;
		left: 0px;
	}

	.s4 {
		position: absolute;
		top: 450px;
		left: 0px;
	}


	.s5 {
		position: absolute;
		top: 600px;
		left: 0px;
	}

	.s6 {
		position: absolute;
		top: 0px;
		left: 440px;
	}

	.s7 {
		position: absolute;
		top: 150px;
		left: 440px;
	}

	.s8 {
		position: absolute;
		top: 300px;
		left: 440px;
	}

	.s9 {
		position: absolute;
		top: 450px;
		left: 440px;
	}


	.s10 {
		position: absolute;
		top: 600px;
		left: 440px;
	}

	.p1 {
	position: absolute;
	top: 250px;
	left: 115px;
	background-color: white;
	width: 350px;
	height: 350px;
	box-sizing: border-box;
	word-break: keep-all;
	line-height: 1.7;
	padding: 20px;
	border-radius: 10px;
}
}